# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/codecraftlearning/dist
/codecraftlearning/tmp
/codecraftlearning/out-tsc
/codecraftlearning/bazel-out

# Node
/codecraftlearning/node_modules
/codecraftlearning/npm-debug.log
/codecraftlearning/yarn-error.log

# IDEs and editors
/codecraftlearning/.idea/
.codecraftlearning/project
/codecraftlearning/.classpath
/codecraftlearning/.c9/
*.launch
/codecraftlearning/.settings/
*.sublime-workspace

# Visual Studio Code
/codecraftlearning/.vscode/*
!/codecraftlearning/.vscode/settings.json
!/codecraftlearning/.vscode/tasks.json
!/codecraftlearning/.vscode/launch.json
!/codecraftlearning/.vscode/extensions.json
/codecraftlearning/.history/*

# Miscellaneous
/codecraftlearning/.angular/cache
/codecraftlearning/.sass-cache/
/codecraftlearning/connect.lock
/codecraftlearning/coverage
/codecraftlearning/libpeerconnection.log
/codecraftlearning/testem.log
/codecraftlearning/typings

# System files
/codecraftlearning/.DS_Store
/codecraftlearning/Thumbs.db
