<div class="flex flex-col gap-4 bg-white w-full justify-start">
    <div class="flex flex-row items-center justify-between">
        <div class="flex flex-row gap-3 items-center">
            <img src="./../../../assets/images/2L1.png" alt="software development coaching"
                class="2xl:w-14 xl:w-14 lg:w-10 md:w-10 sm:w-8 xs:w-7 h-auto" />
            <h1
                class="font-outfit font-semibold text-primary 2xl:text-5xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl xs:text-xl drop-shadow-md">
                Code Craft Learning<sup class="font-poppins text-sm">TM</sup>
            </h1>
        </div>
        <app-nav-bar [isFlex]="false"></app-nav-bar>
    </div>
    <app-nav-bar></app-nav-bar>
</div>