.form-section {
    background-image: url('./../../../assets/images/bg1.png');
    background-size: contain;
    backdrop-filter: blur(5px);
    background-position: left center;
    background-repeat: no-repeat;
}