<div class="flex flex-col w-full gap-9">
    <header class="flex flex-col text-center bg-secondary w-full py-2">
        <h1 class="font-outfit text-2xl text-primary">Customize Your Coding Journey</h1>
    </header>
    <section class="flex flex-col w-full gap-4">
        @for (images of technologiesImages; track $index) {
            <div class="flex flex-row w-full justify-between">
                @for (image of images; track $index) {
                    <img [src]="image.iconUrl" [alt]="image.altText" class="h-14 w-14 object-cover overflow-clip" loading="lazy"/>
                }
            </div>
        }
    </section>
    <nav class="flex flex-row justify-center w-full" aria-label="Courses Navigation">
        <a class="button-accent-2xl" routerLink="/pages/courses">Take Me There</a>
    </nav>
</div>