<div class="flex flex-col gap-1 w-fit bg-secondary p-8 shadow-sm ">
    <div class="flex flex-row w-full gap-12">
        <div class="flex flex-col gap-2">
            <div class="flex flex-row justify-start gap-3 w-full items-center">
                <img src="./../../../assets/images/2L1.png" alt="Logo" class="w-7 h-auto" />
                <span class="font-outfit font-semibold text-primary text-xl drop-shadow-md">Code Craft Learning</span>
            </div>
            <span class="text-accent text-xl uppercase font-outfit font-bold">certificate of completion</span>
            <span class="text-text text-base font-poppins">This is to certify that</span>
            <span class="text-primary text-xl font-outfit underline underline-offset-2">Name Surname</span>
            <p class="text-text text-base font-poppins text-wrap">Has completed, Full Stack development </p>


        </div>
        <div class="flex flex-col justify-center gap-3 text-center">
            <div class="flex flex-row justify-center">
                <qrcode qrdata="https://www.codecraftlearning.in" [margin]="0"></qrcode>
            </div>
            <span class="bg-white px-2 py-1 text-text text-sm font-poppins text-nowrap">312-234423-sdfg</span>

        </div>
    </div>
    <div class="flex flex-row w-full mt-4 gap-12 justify-between">
        <div class="flex flex-col text-center justify-center w-32">
            <span class="text-text text-base h-6 ">20/04/2025</span>
            <span class=" text-primary font-outfit text-xl border-t-2 border-primary">Date</span>
        </div>
        <div class="flex flex-col text-center justify-center w-32">
            <span class="text-text text-base h-6 "></span>
            <span class=" text-primary font-outfit text-xl border-t-2 border-primary">Director</span>
        </div>
    </div>
</div>