<div class="flex flex-col w-full gap-9">
    <div class="flex flex-col text-center bg-secondary w-full py-2">
        <span class="font-outfit text-2xl text-primary">Earn a Certificate That Matters</span>
    </div>
    <div class="flex flex-col gap-4 sm:hidden xs:hidden md:flex lg:flex xl:flex 2xl:flex">
        <div class="flex flex-row justify-center gap-4 ">
            <app-certificate></app-certificate>
            <app-certificate></app-certificate>
        </div>
    </div>
    <div class="flex flex-row justify-center">
        <span class="text-text text-sm font-poppins">*These certifications can be validated in our websites or with the
            QR</span>
    </div>
    <div class="flex flex-row justify-center w-full">
        <a class="button-accent-2xl" routerLink="/pages/certification">Validate A Certificate</a>
    </div>
</div>