<div class="flex flex-row w-full items-center justify-between">
    <div class="flex flex-col 2xl:w-1/2 xl:w-1/2 lg:w-2/3 md:w-3/4 gap-9 xs:w-[90%] sm:w-full">
        <h2 class="font-outfit underline underline-offset-4 text-primary font-medium text-2xl" >
            Crafting Code, Shaping Careers
        </h2>
        <p class="font-poppins text-text text-sm text-justify">
            At <b>Code Craft Learning</b>, we believe that anyone can become a confident, skilled software developer with the right guidance, 
            <b>hands-on experience</b>, and a bit of creative spark.
        </p>
        <p class="font-poppins text-text text-sm text-justify">
            Founded by industry professionals with a <b>passion for mentoring</b>, Code Craft Learning bridges the <b>gap between theory and hands-on coding</b>. 
            Our project-based learning paths are job-focused and offered at <b>very affordable prices</b>.
        </p>
        <nav class="flex flex-row justify-between" aria-label="Call to action buttons">
            <a class="button-primary-2xl"
               routerLink="/pages/courses"
               fragment="registrationForm"
               title="Book a free demo session at Code Craft Learning"
               rel="noopener"
               aria-label="Book a free demo session at Code Craft Learning"
               >Book a Demo</a>
            <a class="button-accent-2xl"
               routerLink="/pages/courses"
               title="Enroll now in Code Craft Learning courses"
               rel="noopener"
               aria-label="Enroll now in Code Craft Learning courses"
               >Enroll Now</a>
        </nav>
    </div>
    <img src="./../../../assets/images/img1.svg" alt="Illustration of a boy coding at a computer, representing Code Craft Learning" class="w-2/6 h-auto xs:hidden sm:hidden md:block lg:block xl:block 2xl:block" loading="lazy" />
</div>