<div class="flex flex-row w-full items-center justify-between">
    <div class="flex flex-col w-1/2 gap-9 xs:w-[90%] sm:w-full">
        <span class="font-outfit underline underline-offset-4 text-primary font-medium text-2xl">
            Crafting Code, Shaping Careers
        </span>
        <p class="font-poppins text-text text-sm text-justify">
            At <b>Code Craft Learning</b>, we believe that anyone can become a confident, skilled software developer with the right guidance, 
            <b>hands-on experience</b>, and a bit of creative spark.
        </p>
        <p class="font-poppins text-text text-sm text-justify">
            Founded by industry professionals with a <b>passion for mentoring</b>, Code Craft Learning bridges the <b>gap between theory and hands-on coding</b>. 
            Our project-based learning paths are job-focused and offered at <b>very affordable prices</b>.
        </p>
        <div class="flex flex-row justify-between">
            <a class="button-primary-2xl" routerLink="/pages/courses" fragment="registrationForm">Book a Demo</a>
            <a class="button-accent-2xl" routerLink="/pages/courses">Enroll Now</a>
        </div>
    </div>
    <img src="./../../../assets/images/img1.svg" alt="coding boy" class="w-2/6 h-auto xs:hidden sm:hidden" />
</div>