<footer class="w-full h-fit bg-primary mt-10 flex flex-col text-white gap-3  px-11 py-7" *ngIf="!isLoggedIn" aria-label="Footer">
    <div class="flex flex-row w-full">
        <div class="flex flex-col">
            <h1 class="underline underline-offset-2 font-outfit align-middle flex gap-2">
                <img src="./../../../assets/images/2L2.png" alt="Code Craft Learning logo"
                    class="w-5 h-5 inline-block" />
                <span>Code Craft Learning</span>
            </h1>
            <p class="font-poppins">An MSME-recognized initiative for quality tech education &amp; career readiness</p>
        </div>
    </div>
    <div class="flex sm:flex-col xs:flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row  gap-3 justify-between">
        <address class="flex flex-col not-italic">
            <h2 class="underline underline-offset-2 font-outfit flex items-center gap-2">
                Email
                <img src="./../../../assets/images/gmail.png" alt="Gmail icon"
                    class="w-5 h-5 inline-block" />
            </h2>
            <a class="font-poppins" href="mailto:codecraftlearning@gmail.com"
                target="_blank" rel="noopener noreferrer">{{'codecraftlearning@gmail.com'}}</a>
        </address>
        <div class="flex flex-col">
            <h2 class="underline underline-offset-2 font-outfit flex items-center gap-2">
                Contact/Whatsapp
                <img src="./../../../assets/images/whatsapp.png" alt="WhatsApp icon"
                    class="w-5 h-5 inline-block" />
            </h2>
            <a class="font-poppins" href="https://wa.me/8971481633" target="_blank" rel="noopener noreferrer">+91 8971481633</a>
        </div>
        <blockquote class="flex flex-col w-80 opacity-75 font-poppins" cite="https://en.wikipedia.org/wiki/B.B._King">
            <p>“The beautiful thing about learning is that no one can take it away from you.”<br>
                <cite>— B.B. King</cite>
            </p>
        </blockquote>
    </div>
</footer>