<ng-container *ngIf="size === 'sm'">
    <div class="w-fit flex flex-row justify-between items-center h-fit px-9 py-7 bg-secondary rounded-lg gap-4">
        <img src="./../../../assets/images/girl.jpg" alt="boy image" class="w-24 h-24 rounded-full object-cover" />
        <div class="flex flex-col">
            <div class="flex flex-row justify-between ">
                <span class="text-base text-primary font-poppins underline underline-offset-2">
                    Sonal Priya
                </span>
                <app-rating size="sm"></app-rating>
            </div>
            <div class="flex flex-row justify-start">
                <span class="text-sm text-text font-poppins">
                    Java Full Stack Developer
                </span>
            </div>
            <p class="text-base text-start w-72 text-text font-poppins mt-4">
                Learning here was the best experience of I have ever got
            </p>
        </div>
    </div>
</ng-container>
