<ng-container *ngIf="size === 'sm'">
    <article class="w-full flex flex-row justify-start items-center h-fit px-9 py-7 bg-secondary rounded-lg gap-4"
        *ngIf="review" itemscope itemtype="https://schema.org/Review">
        <img src="./../../../assets/images/girl.jpg" alt="Photo of reviewer" class="w-24 h-24 rounded-full object-cover"
            *ngIf="review.gender === 'Female'" itemprop="image" />
        <img src="./../../../assets/images/boy.png" alt="Photo of reviewer" class="w-24 h-24 rounded-full object-cover"
            *ngIf="review.gender !== 'Female'" itemprop="image" />
        <div class="flex flex-col w-full">
            <div class="flex flex-row justify-between w-full">
                <span class="text-base text-primary font-poppins underline underline-offset-2" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <span itemprop="name">{{review.name}}</span>
                    <span class="ml-2" *ngIf="!!review.studentId">
                        <span class="inline-flex items-center justify-center w-6 h-6 rounded-full bg-blue-500" title="Verified Student">
                            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="16"
                                height="16" fill="#fff" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                <path
                                    d="M9.29 16.29a1 1 0 0 1-1.42 0l-3.29-3.3a1 1 0 1 1 1.42-1.41l2.58 2.59 7.29-7.3a1 1 0 0 1 1.42 1.42z" />
                            </svg>
                        </span>
                    </span>
                </span>
                <app-rating size="sm" [rating]="review.rating"></app-rating>
            </div>
            <div class="flex flex-row justify-start">
                <span class="text-sm text-text font-poppins uppercase" itemprop="itemReviewed">
                    {{review.courseTitle}}
                </span>
            </div>
            <p class="text-base text-start text-text font-poppins mt-4 max-h-12 overflow-hidden text-wrap" itemprop="reviewBody">
                {{getClipMessage(review.message)}}
            </p>
        </div>
    </article>
</ng-container>
<ng-container *ngIf="size === 'lg'">
    <article class="w-full flex sm:flex-col xs:flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row justify-start items-center h-fit 
                2xl:px-9 2xl:py-7 xl:px-8 xl:py-6 lg:px-7 lg:py-6 md:px-6 md:py-5 sm:px-5 sm:py-4 xs:py-3 xs:px-2  bg-secondary rounded-lg gap-6"
        *ngIf="review" itemscope itemtype="https://schema.org/Review">
        <div class="flex flex-row gap-6">
            <img src="./../../../assets/images/girl.jpg" alt="Photo of reviewer" class="w-24 h-24 rounded-full object-cover"
                *ngIf="review.gender === 'Female'" itemprop="image" />
            <img src="./../../../assets/images/boy.png" alt="Photo of reviewer" class="w-24 h-24 rounded-full object-cover"
                *ngIf="review.gender !== 'Female'" itemprop="image" />
            <div class="flex flex-col gap-2 h-full">
                <span class="text-base text-primary font-poppins underline underline-offset-2" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <span itemprop="name">{{review.name}}</span>
                    <span class="ml-2" *ngIf="!!review.studentId">
                        <span class="inline-flex items-center justify-center w-6 h-6 rounded-full bg-blue-500" title="Verified Student">
                            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="16"
                                height="16" fill="#fff" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                <path
                                    d="M9.29 16.29a1 1 0 0 1-1.42 0l-3.29-3.3a1 1 0 1 1 1.42-1.41l2.58 2.59 7.29-7.3a1 1 0 0 1 1.42 1.42z" />
                            </svg>
                        </span>
                    </span>
                </span>
                <span class="text-sm font-bold text-text font-poppins min-w-52 uppercase" itemprop="itemReviewed">
                    {{review.courseTitle}}
                </span>
                <app-rating size="sm" [rating]="review.rating"></app-rating>
            </div>
        </div>
        <div class="w-3/4 bg-white px-8 py-4 rounded-lg h-full max-h-52 overflow-y-auto">
            <p class="text-base text-start text-text font-poppins " itemprop="reviewBody">
                {{review.message}}
            </p>
        </div>
    </article>
</ng-container>