<div class="flex flex-row justify-end bg-primary w-full h-12 items-center gap-6 p-5">
    @for (link of navItems; track link.name) {
    <a *ngIf="link.type === 'link'" [routerLink]="link.path" [fragment]="link.fragment" routerLinkActive="underline "
        class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4 ">
        {{ link.name }}
    </a>
    <a *ngIf="link.type === 'fragment'" (click)="scrollTo(link?.fragment ?? '')" routerLinkActive="underline "
        class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4 ">
        {{ link.name }}
    </a>
    }
    <ng-container *ngIf="isLoggedIn">
        <a routerLink="/admin/students" routerLinkActive="underline "
            class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4 ">
            Students
        </a>
        <a routerLink="/admin/enquiries" routerLinkActive="underline "
            class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4 ">
            Enquiries
        </a>
        <a routerLink="/admin/packages" routerLinkActive="underline "
            class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4 ">
            packages
        </a>
    </ng-container>

    <a (click)="googleLogin()" class="button-accent-sm" [class.hidden]="isLoggedIn">
        Admin Login
    </a>
    <a (click)="logout()" class="button-accent-sm" [class.hidden]="!isLoggedIn">
        Logout
    </a>
</div>