<nav class="flex flex-col  bg-primary w-full items-center "
    *ngIf="!shouldDisplayBurger && isFlex" aria-label="Main navigation">
    <div class="flex flex-row justify-end bg-primary w-full h-12 items-center gap-6 p-5">
        <ng-container *ngFor="let link of navItems;">
            <a *ngIf="link.type === 'link'" [routerLink]="link.path" [fragment]="link.fragment"
                routerLinkActive="underline"
                class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4"
                [attr.aria-label]="link.name">
                {{ link.name }}
            </a>
            <a *ngIf="link.type === 'fragment'" routerLink="#" (click)="scrollTo(link?.fragment ?? '')"
                routerLinkActive="underline"
                class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4"
                [attr.aria-label]="link.name">
                {{ link.name }}
            </a>

        </ng-container>
        <button (click)="googleLogin()" class="button-accent-sm" [class.hidden]="isLoggedIn" aria-label="Admin Login">
            Admin Login
        </button>
        <button (click)="logout()" class="button-accent-sm" [class.hidden]="!isLoggedIn" aria-label="Logout">
            Logout
        </button>
    </div>
    <ng-container *ngIf="isLoggedIn">
        <div class="flex flex-row justify-end bg-primary w-full h-12 items-center gap-6 p-5">
            <a routerLink="/admin/enquiries" routerLinkActive="underline"
                class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4"
                aria-label="Enquiries">
                Enquiries
            </a>
            <a routerLink="/admin/students" routerLinkActive="underline"
                class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4"
                aria-label="Students">
                Students
            </a>
            <a routerLink="/admin/batches" routerLinkActive="underline"
                class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4"
                aria-label="Batches">
                Batches
            </a>
            <a routerLink="/admin/packages" routerLinkActive="underline"
                class="text-white px-4 py-2 text-sm cursor-pointer font-poppins underline-offset-4"
                aria-label="Packages">
                Packages
            </a>
        </div>
    </ng-container>

</nav>
<div class="w-5 mr-2" aria-label="Open navigation menu" *ngIf="shouldDisplayBurger && !isFlex">
    <button (click)="showDropdown = !showDropdown" aria-haspopup="true" [attr.aria-expanded]="showDropdown">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <rect y="4" width="24" height="2" rx="1" />
            <rect y="11" width="24" height="2" rx="1" />
            <rect y="18" width="24" height="2" rx="1" />
        </svg>
        <span class="sr-only">Open navigation menu</span>
    </button>
    <nav class="absolute right-5 mt-2 w-48 border border-1 bg-white rounded-lg shadow-lg z-50" *ngIf="showDropdown"
        aria-label="Mobile navigation">
        <ul class="flex flex-col">
            <li *ngFor="let link of navItems;">
                <a *ngIf="link.type === 'link'" [routerLink]="link.path" [fragment]="link.fragment"
                    (click)="showDropdown = false"
                    class="block px-4 py-2 text-gray-800 hover:bg-primary hover:text-white font-poppins"
                    routerLinkActive="underline" [attr.aria-label]="link.name">
                    {{ link.name }}
                </a>
                <a *ngIf="link.type === 'fragment'" (click)="scrollTo(link?.fragment ?? ''); showDropdown = false"
                    class="block px-4 py-2 text-gray-800 hover:bg-primary hover:text-white font-poppins"
                    routerLinkActive="underline" [attr.aria-label]="link.name">
                    {{ link.name }}
                </a>
            </li>
        </ul>
    </nav>
</div>