<div
    class="relative flex flex-row justify-between p-0 w-full border border-white border-1 rounded-lg bg-primary px-4  text-white items-center cursor-pointer">
    <input readonly type="text" class="bg-transparent w-full py-2 cursor-pointer focus:outline-none"
        [placeholder]="getPlaceholder()" (click)="toggleDropdown()" />
    <span class="text-white text-2xl" *ngIf="!isOpen" (click)="toggleDropdown()">&#9662;</span>
    <span class="text-white text-2xl" *ngIf="isOpen" (click)="toggleDropdown()">&#9652;</span>

    <div class="absolute top-11 flex flex-col w-full  gap-1 border border-white rounded-lg bg-black py-2 max-h-52 overflow-y-scroll z-50" *ngIf="isOpen">
        <div *ngFor="let item of items" class="px-8 py-2 hover:bg-slate-900 text-white cursor-pointer"
            [ngClass]="isSelected(item) ? 'bg-slate-700' : ''"
            (click)="selectItem(item)">
            {{ getLabel(item) }}
        </div>
    </div>
</div>